.NotePage{
  display: flex;
}

.FolderList {
  flex: 1;
  padding: 0;
}
.FolderList li {
  list-style-type: none;
}

.ThisFolder {
  list-style-type: none;
  padding: 10px;
  background: skyblue;
}
.ThisFolder a {
  text-decoration: none;
  color: black
}
.ThisFolder:hover {
  cursor: pointer;
  background: white;
}

.BackBtn {
  padding: 10px;
  margin: 10px 5px;
  border-radius: 10px;
  border: none;
  background: crimson;
  color: white;
  font-size: 1.5rem;
  width: 90%;
}
.BackBtn:hover {
  cursor: pointer;
  background: darkred;
  border-color: darkred;
}

.NoteDisplay {
  flex: 3;
  padding: 10px;
  background: skyblue;
}