.Sidebar {
  flex: 1;
  padding: 0;
  /* border: 1px solid black; */
}

.Header {
  /* border: 1px solid black; */
  font-size: 2rem;
  padding: 30px;
  background: skyblue;
}
.Header a{
  text-decoration: none;
  color: midnightblue;
}

.AddFolder {
  border: none;
  padding: 10px;
  margin: 10px 5px;
  background: skyblue;
  border-radius: 10px;
  color: midnightblue;
  font-size: 1.5rem;
  width: 90%;
}
.AddFolder:hover, .AddFolder:hover a {
  color: midnightblue;
  cursor: pointer;
  background: white;
  border-color: white;
}