.Note {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  background: ghostwhite;
}
.Note:hover {
  cursor: pointer;
  background: lightgoldenrodyellow;
}

.Details {
  text-align: left;
  margin-left: 0;
}

.Details a{
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  color: midnightblue;
}

article {
  font-size: .75rem;
  color: darkgrey;
  padding: 10px;
}

.DeleteNote {
  border-radius: 0 10px 10px 0;
  background: red;
  color: white;
  margin-right: 0;
  font-size: 1.5rem;
  padding: 15px 5px;
}
.DeleteNote:hover{
  cursor: pointer;
  border-color: darkred;
  background: darkred;
}

.DeleteNote button {
  align-self: center;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}