.Folder {
  list-style-type: none;
  padding: 10px;
}
.Folder a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.Folder a:hover {
  cursor: pointer;
}
.Folder:hover, .Folder:hover a{
  color: midnightblue;
  background: white;
}